body {
  background-color: #e9c46a;
  color: #03071e;
}

p::first-line {
  color: #e945e9;
  font-size: larger;
}

p::selection {
  background-color: firebrick;
  color: gold;
}

h1:hover {
  background-color: #000;
  color: white;
  text-decoration: overline wavy;
  letter-spacing: 0.5em;
}

.name {
  background-color: #31f700;
}

input + label:active {
  background-color: cadetblue;
  color: #e63946;
  letter-spacing: 0.5em;
}

h1::first-letter {
  font-size: 2em;
}

a:hover {
  text-decoration: wavy underline #e63946;
  background-color: #31f700;
}

form div:hover {
  background-color: #e63946;
}

div > label {
  background-color: cornflowerblue;
  color: darkred;
}

input[type="number"] {
  background-color: #ff9847;
  color: rgb(238, 255, 0);
  font-size: 1.5em;
}

label + input {
  background-color: #03071e !important;
  color: #caf0f8;
}

label + input:focus {
  background-color: #e63946;
  color: #03071e;
}

label + input:active {
  background-color: #35fd67;
  color: #03071e;
}

a[href*="com"] {
  color: darkgreen;
}

a {
  font-size: larger;
  color: #03071e;
  text-decoration: none;
}

li + button {
  background-color: #e9c46a;
  color: #000;
}

button {
  color: #e76f51;
  background-color: #2a9d8f;
}

h1 {
  color: blue;
  background-color: #ff9847;
  width: fit-content;
}
label {
  color: blue;
}
input {
  color: rgb(0, 0, 0);
  background-color: aquamarine;
  font-size: xx-large;
}

div label:nth-of-type(2n) {
  background-color: crimson;
  color: #ffffff;
}

.classic-4 {
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #0000;
  text-shadow: 0 0 0 #000, 10ch 0 0 #000;
  background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
  animation: c4 1.5s infinite;
}
.classic-4:before {
  content: "Loading...";
}
@keyframes c4 {
  80% {
    text-shadow: 0 0 0 #000, 10ch 0 0 #000;
    background-size: 100% 3px;
  }
  100% {
    text-shadow: -10ch 0 0 #000, 0 0 0 #000;
  }
}

.classic-6 {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0,
    calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0, calc(-5 * var(--w)) 0,
    calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0,
    calc(-9 * var(--w)) 0;
  animation: c6 2s infinite;
}
.classic-6:before {
  content: "Loading...";
}
@keyframes c6 {
  20% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 #63fff4, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  40% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0 orange,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  60% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 yellow, calc(-8 * var(--w)) 0 #ffa516,
      calc(-9 * var(--w)) 0 red;
  }
  80% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0 yellow,
      calc(-3 * var(--w)) 0 #63fff4, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 red, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 grey, calc(-8 * var(--w)) 0 #63fff4,
      calc(-9 * var(--w)) 0;
  }
}
