body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 800px;
  height: 600px;
  background: no-repeat center/90% greenyellow
    url("https://images.unsplash.com/photo-1621001595230-b09a6f69d3d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
