<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condition</title>
</head>



<body>
    <h1>Condition EJS</h1>

    <% if (rand % 2===0) { %>
        <h2>
            <%= rand %> is an Even Number
        </h2>
        <% } else if (rand % 2===1){ %>
            <h2>
                <%= rand %> is an Odd Number
            </h2>
            <% }else { %>
                <h2>
                    <%= rand %> is not a Number
                </h2>
                <%} %>

                    <h3>
                        <%= rand % 2===0 ? `${rand} is Even Number` : `${rand} is Odd Number` %>
                    </h3>


</body>

</html>