<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>Welcome to Home page <%= Math.floor(Math.random() * 10 + 1) %>
    </h1>
    <h2>
        <%= 'Hello Greeting' .toUpperCase() %>
    </h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore saepe alias id qui delectus eveniet quam
        asperiores, dolore maiores nemo reiciendis! Sint sed delectus culpa ipsam adipisci numquam officiis
        consequatur!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repellendus ipsam ad cupiditate veniam iure
        dolore
        consectetur nostrum at adipisci possimus illo illum quas, earum consequuntur asperiores itaque quia est!</p>
</body>

</html>