<% layout('./layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= status %>
                        <%= message %>
                </h4>
                <p>
                    <%= stack %>
                </p>
                <hr>
                <a href="/campgrounds" class="mb-0">Back to Campgrounds</a>
            </div>
        </div>
    </div>